

@import url('https://fonts.googleapis.com/css2?family=Kirang+Haerang&display=swap');

* {
box-sizing:border-box;
padding: 0;
margin: 0;
}

.clickm {
    background-color: #D7D5CC ; 
}

.invite{
    background-image: url(images/fancybg.png);
    margin: 10%;
    max-height:100px;
}

h1,h2,h3{
    font-family:Kirang Haerang;
    color: white;
}

.heading{
     margin-top: -5%;
    font-size: 10vw;
}

.Molly{
    margin-left: -10%;
     margin-top: -3%;
    font-size: 5vw;
    text-align: center;
}

.info{
    margin-top: 1%;
    margin-left: 15%;
    width: 40vw;
    font-size:2.5vw;
}

li{
    padding: 1vw;
}
p,ul{
    font-family:'Courier New', Courier, monospace;
    color: white;
}

a{
    color: rgb(33, 33, 33);
    text-decoration: none;
    
}

a:hover {
    color:rgb(174, 0, 0);
      text-decoration: underline;
}

.clickme {
    text-align: center;
    font-size: 10vw;
    margin: 20%;
}

.button {
    margin-top: 20%;
    margin-left: 25%;
    font-size: 5vw;
    background-color: black ;
    border-radius: 5vw;
    padding: 2vw;
    color: white;
    width: 45vw;
    text-align: center;
}


/*Mobile Version*/

@media only screen and (max-width: 400px) {
    .invite{
    background-image: url(images/fancyphone.png);
    margin: 10%;
    max-height:100px;
}
}





